page-mcourse-content {
  
  ion-col{
    height: 40px;
    display: flex;
    justify-content: left;
    align-items: center;

  }

  .file-link{
    color: steelblue;
  }

  .downloadbtn{
    background-color:lightgray;
  }

  a {
    cursor: pointer;
    user-select: none;
    pointer-events: none;
  }

}
